### Loading the data

In [1]:
import pandas as pd
import sklearn
import numpy as np
df = pd.read_csv('S&P500_2013_2024.csv')

In [2]:
## different number of entries for each ticket
ticker_counts = df['ticker'].value_counts()
print(ticker_counts)

PRU     11276
SPG     10814
CCL     10177
HUM      9307
AMP      8645
        ...
LIN       138
TSLA      130
KIM       129
KKR       114
FOX        17
Name: ticker, Length: 486, dtype: int64

# Issues with the current df
 - Relevant columns (handled)
 - field name and fieldid exist, want to just convert fieldnames and respective value and value score to columns (handled)
 - some take on value of A+ to F, but some are positive and negative values with nan value scores (-13,3.42, etc)
 - value score and values inconsistent amount company name and field name

In [3]:
df

,orgpermid,year,isin,ticker,comname,fieldid,fieldname,value,valuescore
0,4295908720,2013,US00846U1016,A,Agilent Technologies Ord Shs,1,ESGScore,A-,0.769379
1,4295908720,2013,US00846U1016,A,Agilent Technologies Ord Shs,2,ESGCombinedScore,A-,0.769379
2,4295908720,2013,US00846U1016,A,Agilent Technologies Ord Shs,3,ESGCControversiesScore,A+,1.000000
3,4295908720,2013,US00846U1016,A,Agilent Technologies Ord Shs,4,EnvironmentPillarScore,B+,0.739410
4,4295908720,2013,US00846U1016,A,Agilent Technologies Ord Shs,5,GovernancePillarScore,B,0.594709
...,...,...,...,...,...,...,...,...,...
1802262,5037658928,2023,US98978V1035,ZTS,Zoetis Ord Shs Class A Ord Shs,628,TotalCO23YearCompoundAnnualGrowthRate,-2.90433,NaN
1802263,5037658928,2023,US98978V1035,ZTS,Zoetis Ord Shs Class A Ord Shs,629,TotalCO25YearCompoundAnnualGrowthRate,0.92145,NaN
1802264,5037658928,2023,US98978V1035,ZTS,Zoetis Ord Shs Class A Ord Shs,630,TotalCO2ChangeYOYPercent,-14.6351,NaN
1802265,5037658928,2023,US98978V1035,ZTS,Zoetis Ord Shs Class A Ord Shs,631,TotalCO2ToRevenues3YearCompoundAnnualGrowthRate,-10.5741,NaN
1802266,5037658928,2023,US98978V1035,ZTS,Zoetis Ord Shs Class A Ord Shs,632,TotalCO2ToRevenues5YearCompoundAnnualGrowthRate,-6.52178,NaN

### To see the average value of the 'valuescore' column:
 propose we can just use value score instead of value, but then some entries have a value in value but NaN for value score

In [8]:
# To see the average value of the 'valuescore' column:
# propose we can just use value score instead of value, but then some entries have a value in value but NaN for value score
avg_valuescore = df['valuescore'].mean()
print("Average valuescore:", avg_valuescore)

Average valuescore: 0.4644247118250877

In [ ]:
#ignore for now this is basically if the values are letter grades, but there are inconsistencies with fieldnames like float values
"""
import pandas as pd
import numpy as np

# Example letter-to-numeric mapping dictionary
grade_map = {
    'A+': 1.00,
    'A' : 0.95,
    'A-': 0.90,
    'B+': 0.85,
    'B' : 0.80,
    'B-': 0.75,
    'C+': 0.70,
    'C' : 0.65,
    'C-': 0.60,
    'D+': 0.55,
    'D' : 0.50,
    'D-': 0.45,
    'F' : 0.00
}

def convert_value(x):
    # Try to convert to float
    try:
        return float(x)
    except:
        # If it's not numeric, try to map from dictionary
        if x in grade_map:
            return grade_map[x]
        else:
            # If it's neither numeric nor in the grade_map, return NaN
            return np.nan

# Assume 'df' is your DataFrame with 'value' and 'valuescore' columns
df['value_numeric'] = df['value'].apply(convert_value)

# Now 'value_numeric' contains either the numeric representation of letter grades
# or the original numeric value if it was already numeric, or NaN if it couldn't be mapped.

# If you want to overwrite 'valuescore' with these numeric values (assuming 'valuescore' 
# is meant to represent the final numeric value):
df['valuescore'] = df['value_numeric']

# Handle remaining NaNs:
# Decide on an imputation strategy (mean, median, or drop)
# For example, to fill NaNs with the mean:
mean_value = df['valuescore'].mean()
df['valuescore'] = df['valuescore'].fillna(mean_value)

# At this point, 'valuescore' is numeric for all entries that could be handled,
# and missing values have been imputed.

"""

## Converting feature names to value and value score per feature:

In [4]:


# Suppose your original dataframe is named df
# Columns: orgpermid, year, isin, ticker, comname, fieldid, fieldname, value, valuescore

# Pivot the dataframe so that fieldname columns represent the ESG metrics
df_pivot = df.pivot_table(
    index=['year', 'ticker', 'comname'],
    columns='fieldname',
    values=['value', 'valuescore']
)

# df_pivot now has a multi-level column index, something like:
# (value, ESGScore), (value, ESGCombinedScore), (valuescore, ESGScore), (valuescore, ESGCombinedScore), ...

# Flatten the multi-level column index
df_pivot.columns = [f"{lvl2}_{lvl1}" for lvl1, lvl2 in df_pivot.columns]

# Now columns might look like: ESGScore_value, ESGCombinedScore_value, ESGScore_valuescore, ESGCombinedScore_valuescore, etc.

# Reset the index to turn the identifier columns back into normal columns
df_final = df_pivot.reset_index()

# df_final now has columns:
# orgpermid, year, isin, ticker, comname, ESGScore_value, ESGScore_valuescore, ESGCombinedScore_value, ESGCombinedScore_valuescore, ...

In [5]:
df_final

,year,ticker,comname,AccidentalSpillsToRevenues_valuescore,AgrochemicalProducts_valuescore,AnnouncedLayOffsToTotalEmployees_valuescore,AntiTakeoverDevicesAboveTwo_valuescore,AuditCommitteeIndependence_valuescore,AuditCommitteeManagementIndependence_valuescore,AuditorTenure_valuescore,...,VocOrPmEmissionsReduction_valuescore,VotingCapPercentage_valuescore,WasteRecycledToTotalWaste_valuescore,WaterPollutantEmissionsToRevenues_valuescore,WaterRecycled_valuescore,WaterTechnologies_valuescore,WaterUseToRevenues_valuescore,WhistleblowerProtection_valuescore,WomenEmployees_valuescore,WomenManagers_valuescore
0,2013,A,Agilent Technologies Ord Shs,NaN,NaN,0.068182,0.072597,0.501534,0.505624,0.034502,...,NaN,0.506173,0.236842,NaN,NaN,NaN,0.326087,0.613636,0.214286,0.361111
1,2013,AAPL,Apple Ord Shs,NaN,NaN,0.622222,0.950920,0.501534,0.505624,0.888009,...,0.0,0.506173,0.295455,NaN,NaN,NaN,0.979167,0.733333,NaN,NaN
2,2013,ABBV,AbbVie Ord Shs,NaN,NaN,0.601124,0.072597,0.501534,0.505624,0.984729,...,0.0,0.506173,NaN,NaN,NaN,NaN,0.091837,0.679775,NaN,NaN
3,2013,ABT,Abbott Laboratories Ord Shs,NaN,NaN,0.113636,0.950920,0.501534,0.505624,0.582014,...,NaN,0.506173,0.131579,NaN,NaN,NaN,0.152174,0.613636,NaN,0.861111
4,2013,ACGL,Arch Capital Group Ord Shs,NaN,NaN,0.546053,0.047297,0.601351,0.527027,0.140845,...,NaN,0.057143,NaN,NaN,NaN,NaN,NaN,0.687500,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5825,2024,STE,STERIS Ord Shs,NaN,NaN,0.508065,0.372549,0.578431,0.500000,0.078431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5826,2024,FOXA,Fox Ord Shs Class A,NaN,NaN,0.514085,0.547073,0.544891,0.500147,0.529438,...,NaN,0.502947,NaN,NaN,NaN,NaN,NaN,0.610329,NaN,NaN
5827,2024,CRWD,CrowdStrike Holdings Ord Shs Class A,NaN,NaN,0.520833,0.968520,0.544891,0.500147,0.575949,...,NaN,0.502947,NaN,NaN,NaN,NaN,NaN,0.583965,NaN,NaN
5828,2024,STX,Strike Energy Ord Shs,NaN,NaN,0.505703,0.770833,0.740648,0.509804,0.296569,...,0.0,0.503676,NaN,NaN,NaN,NaN,NaN,0.543726,NaN,NaN
5829,2024,EG,EG Industries Ord Shs,NaN,NaN,0.503086,0.658177,0.641129,0.514745,0.258713,...,0.0,0.500000,0.137681,NaN,NaN,NaN,0.530303,0.614198,0.539130,0.981481

### At this point df_final has columns for both valuescore and value(form of A, B, C, D) so we can eliminate value if we want by removing it from values=['value', 'valuescore'] in df_pivot

### If we want to filter 40 features: 
** note some of these are not in the current df that was uploaded if there are fewer columns

In [6]:
# Given your selected field names
selected_fieldnames = [
    "ESGScore", "ESGCombinedScore", "ESGControversiesScore", "EnvironmentPillarScore", 
    "GovernancePillarScore", "SocialPillarScore", "ResourceUseScore", "EmissionsScore", 
    "EnvironmentalInnovationScore", "WorkforceScore", "HumanRightsScore", "CommunityScore", 
    "ProductResponsibilityScore", "ManagementScore", "ShareholdersScore", "CSRStrategyScore", 
    "TRDIRScore", "TRDIRDiversityScore", "TRDIRPeopleDevelopmentScore", "TRDIRInclusionScore", 
    "TRDIRControversiesScore", "Anti-CompetitionControversiesCount", "BusinessEthicsControversies", 
    "CommunityLendingandInvestments", "CorporateResponsibilityAwards", "CrisisManagementSystems", 
    "EnvironmentalControversies", "BiodiversityImpactReduction", "RenewableEnergyUse", 
    "EmissionReductionTargetPercentage", "WaterRecycled", "WasteReductionInitiatives", 
    "RenewableEnergyProduced", "GenderPayGapPercentage", "PolicyEmployeeHealthandSafety", 
    "VoluntaryTurnoverofEmployees", "PolicyBoardDiversity", "PolicyBusinessEthics", 
    "BoardGenderDiversity,Percent", "DiversityandOpportunityControversies"
]

# Core identifier columns that we want to keep:
id_cols = ["year", "ticker", "comname"]

# Generate a list of the corresponding value and valuescore columns for the selected fieldnames
value_cols = [f"{fname}_value" for fname in selected_fieldnames if f"{fname}_value" in df_final.columns]
score_cols = [f"{fname}_valuescore" for fname in selected_fieldnames if f"{fname}_valuescore" in df_final.columns]

# Combine all columns
keep_cols = id_cols + value_cols + score_cols

# Filter the dataframe
df_filtered = df_final[keep_cols]

In [7]:
df_filtered

,year,ticker,comname,ESGScore_valuescore,ESGCombinedScore_valuescore,EnvironmentPillarScore_valuescore,GovernancePillarScore_valuescore,SocialPillarScore_valuescore,CorporateResponsibilityAwards_valuescore,BiodiversityImpactReduction_valuescore,WaterRecycled_valuescore,GenderPayGapPercentage_valuescore,PolicyBusinessEthics_valuescore
0,2013,A,Agilent Technologies Ord Shs,0.769379,0.769379,0.739410,0.594709,0.912661,0.840909,0.962121,NaN,NaN,0.560606
1,2013,AAPL,Apple Ord Shs,0.602998,0.319356,0.468205,0.780893,0.566232,0.000000,0.000000,NaN,NaN,0.611111
2,2013,ABBV,AbbVie Ord Shs,0.451740,0.451740,0.413510,0.355841,0.534669,0.842697,0.000000,NaN,NaN,0.589888
3,2013,ABT,Abbott Laboratories Ord Shs,0.771167,0.498084,0.524017,0.742099,0.880842,0.840909,0.000000,NaN,NaN,0.560606
4,2013,ACGL,Arch Capital Group Ord Shs,0.286134,0.286134,0.191275,0.383333,0.284573,0.000000,NaN,NaN,NaN,0.621711
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5825,2024,STE,STERIS Ord Shs,0.535938,0.535938,0.458475,0.282271,0.754977,NaN,NaN,NaN,NaN,NaN
5826,2024,FOXA,Fox Ord Shs Class A,0.647181,0.340257,0.507265,0.534003,0.771722,NaN,NaN,NaN,NaN,0.619718
5827,2024,CRWD,CrowdStrike Holdings Ord Shs Class A,0.253412,0.253412,0.203981,0.239067,0.288023,NaN,NaN,NaN,NaN,0.586490
5828,2024,STX,Strike Energy Ord Shs,0.156383,0.156383,0.047173,0.387524,0.116589,NaN,NaN,NaN,NaN,0.538023
5829,2024,EG,EG Industries Ord Shs,0.496712,0.496712,0.454778,0.540317,0.505168,NaN,NaN,NaN,NaN,0.604938

### Core ESG Ratings and Metrics (Overall Scores)
ESG Score
ESG Combined Score
ESG Controversies Score

### (Environmental Metrics)

Environment Pillar Score
Emissions Score
Resource Use Score
Environmental Innovation Score
CO2 Equivalent Emissions Total
CO2 Equivalent Emissions Direct, Scope 1
CO2 Equivalent Emissions Indirect, Scope 2
CO2 Equivalent Emissions Indirect, Scope 3
Emission Reduction Target Percentage
Emission Reduction Target Year
Waste Reduction Initiatives
Renewable Energy Use
Renewable Energy Produced
Biodiversity Impact Reduction
Water Recycled
Environmental Controversies

### Social Metrics
Social Pillar Score
Workforce Score
Community Score
Human Rights Score
Product Responsibility Score
Diversity and Opportunity Controversies
Gender Pay Gap Percentage
Policy Employee Health & Safety
Employee Engagement Voluntary Work
Voluntary Turnover of Employees
### Governance Metrics
Governance Pillar Score
Management Score
Shareholders Score
CSR Strategy Score
Policy Board Diversity
Policy Business Ethics
Board Gender Diversity, Percent
Executive Compensation Controversies
Anti-Competition Controversies
Sustainability and Global Goals
SDG 13 Climate Action
SDG 12 Responsible Consumption and Production

### Reasoning for Selection
High-Level ESG Scores: Metrics like ESG Score, ESG Combined Score, and ESG Controversies Score are foundational for summarizing overall ESG performance and controversies.
Environmental Metrics: Includes direct and indirect emissions (Scopes 1-3), renewable energy use, waste management, and biodiversity impact, all critical for climate-related performance.
Social Metrics: Workforce diversity, human rights, and employee health & safety are key for assessing social responsibility.
Governance Metrics: Board diversity, business ethics policies, and shareholder rights are important indicators of corporate governance quality.
Sustainability Alignment: Inclusion of relevant SDG metrics ensures alignment with global sustainability goals.